<div class="step payment-channels-step" #canvasContent>
  <div class="title">
    <span class="text">{{ data.name }}</span>
    <button class="edit-button" (click)="editStep()">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <!-- <button class="delete-button" (click)="deleteStep()">
      <i class="fa-solid fa-trash-can"></i>
    </button> -->
  </div>

  <div class="channel-list">
    <div *ngIf="data?.channels?.fields.length > 0">
      <br />
      <div *ngFor="let channel of data.channels.fields">
        <span class="channel" *ngIf="channel.isActive === 'Active'">{{ channel.value }} </span>
      </div>
    </div>
  </div>
</div>
