<div class="step restrictions-step" #canvasContent>
  <div class="title">
    <span>{{ data.name }}</span>
    <!-- <button class="edit-button" (click)="editStep()">
      <i class="fa-solid fa-pen-to-square"></i>
    </button> -->
    <!-- <button class="delete-button" (click)="deleteStep()">
      <i class="fa-solid fa-trash-can"></i>
    </button> -->
  </div>

  <div class="restrictions-list">
    <div *ngIf="data?.restrictions">
      <br />
      <div *ngFor="let restriction of data.restrictions">
        <span class="restriction">{{ restriction.name }}: {{restriction.value}}</span>
      </div>
    </div>
  </div>
</div>
