<main>
  <div
    id="canvas"
    ngFlowchartCanvas
    [ngFlowchartOptions]="options"
    [disabled]="disabled"
    [ngFlowchartCallbacks]="callbacks"
  ></div>
  <div id="palette">
    <section>
      <div *ngFor="let op of customOps; index as i">
        <div
          class="step step-generic"
          [ngClass]="op.step.type + '-step'"
          #canvasContent
          (click)="showDescriptionFor(i)"
          [ngFlowchartStep]="op.step"
        >
          <span>{{ op.paletteName }}</span>
        </div>
        <div class="description" *ngIf="showDescription === i">
          <span>{{ op.description }}</span>
        </div>
      </div>
    </section>

    <section>
      <button (click)="showFlowData()">Show JSON</button>
      <button (click)="showUpload()">Upload JSON</button>
    </section>
    <section>
      <div class="sub-section">
        <label for="step-gap-select" class="wide">Step Gap</label>
        <select
          name="step-gap-select"
          id="step-gap-select"
          class="wide"
          (change)="onGapChanged($event)"
        >
          <option value="30">30</option>
          <option value="40" selected>40</option>
          <option value="60">60</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="sub-section">
        <label for="sequential">Sequential</label>
        <input
          type="checkbox"
          name="sequential"
          (change)="onSequentialChange($event)"
        />
      </div>
      <!-- <div class="sub-section">
        <label for="disabled">Disabled</label>
        <input
          type="checkbox"
          name="disabled"
          (change)="onDisabledChange($event)"
        />
      </div> -->
      <div class="sub-section">
        <label for="orientation-select" class="wide">Orientation</label>
        <select
          name="orientation-select"
          id="orientation-select"
          class="wide"
          (change)="onOrientationChange($event)"
        >
          <option value="VERTICAL" selected>Vertical</option>
          <option value="HORIZONTAL">Horizontal</option>
        </select>
      </div>

      <div class="sub-section">
        <label for="scale-slider" class="wide">Scale</label>
        <input
          type="range"
          name="scale-slider"
          id="scale-slider"
          class="wide"
          min="0.25"
          max="2"
          step="0.01"
          value="1"
          (change)="onScaleChange($event)"
        />
      </div>

    </section>
    <section>
      <button (click)="clearData()">Clear Flow</button>
    </section>
    <ng-template #normalStep let-data>
      <div
        class="card"
        [attr.name]="data.data.name"
        #card
        (click)="onDelete(data.id)"
      >
        <span>{{ data.data.name }}</span>
      </div>
    </ng-template>
  </div>
</main>
