<div class="center-screen">
  <h1 class="dialog-title" mat-dialog-title>{{ data?.title }}</h1>
  <div class="mat-dialog-content" mat-dialog-content>
    <div *ngIf="data.type === 'select-one'">
      <label for="selct-list">{{ data.label }}</label>
      <select id="select-list" [(ngModel)]="selected">
        <option *ngFor="let method of data.list" [value]="method">
          {{ method }}
        </option>
      </select>
    </div>
    <div *ngIf="data.type === 'select-many'">
      <label for="selct-list">{{ data.label }}</label>
      <select id="select-list" [(ngModel)]="selected" multiple>
        <option *ngFor="let method of data.list" [value]="method">
          {{ method }}
        </option>
      </select>
    </div>
  </div>
  <div class="mat-dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-button
      [disabled]="!selected"
      [mat-dialog-close]="selected"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
