<div class="center-screen">
  <h1 class="dialog-title" mat-dialog-title>{{ data?.title }}</h1>
  <div class="mat-dialog-content" mat-dialog-content>
    <div *ngIf="data.type === 'select-one'">
      <mat-form-field class="full-width">
        <mat-label>{{ data.label }}</mat-label>
        <mat-select id="select-list" [(ngModel)]="selected">
          <mat-option *ngFor="let method of data.list" [value]="method">
            {{ method }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="data.type === 'select-many'">
      <mat-form-field class="full-width">
        <mat-label>{{ data.label }}</mat-label>
        <mat-select id="select-list" [(ngModel)]="selected" multiple>
          <mat-option *ngFor="let method of data.list" [value]="method">
            {{ method }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="mat-dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-button
      [disabled]="!selected"
      [mat-dialog-close]="selected"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
